#title {
  background-color: #FFADAD;
  padding: 7% auto;
}

#features {
  background-color: #FFDAC7;
  padding: 7% 15%;
  text-align: center;
}

#testimonials {
  background-color: #FFADAD;

  text-align: center;
}

#press {
  background-color: #FFADAD;
  padding: 0 15% 0%;

}

#pricing {
  background-color: #FFDAC7;
  padding: 7% 15%;
  text-align: center;
}

#cta {
  padding: 7% 15%;
  text-align: center;
  background-color: #FFDAC7;
}

#footer {
  padding: 7% 15%;
  background-color: #FFADAD;
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 3rem;
  line-height: 2;
  font-weight: bold;
}

h3 {
  font-family: 'Play', sans-serif;
}

h2 {
  font-family: 'Play', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: bold;
}

/* nav-bar */
.navbar {
  padding-bottom: 8%;
}

.navbar-brand {
  font-family: 'Play', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  font-weight: bold;
}

.download-button {
  margin: 10% 3% 5% 0;
}

p {
  font-family: 'Montserrat', sans-serif;
}

/* title */
.container-fluid {
  padding: 3% 15%;
}

.cat {
  width: 220px;
  transform: rotate(15deg);
}

.fab:hover {
  color: lightblue;
}

/* feautures */
.f-col {
  margin: 7% auto;
}

.fas:hover {
  color: #ff4c68;
}

/* Testimonials */
.t-col {
  width: 60%;
  margin: 25px auto;


}
.carousel-item{
  padding:7% 15%;
}
.happycat{
  width: 100px;
  height:100px;
  border-radius: 100%;
  margin: 20px;
}



/* press */
.brand {
  width: 70%;
    margin:20px 20px 50px;
}

/* cta */
